body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(128,191,204,1) 74%);
    animation: fadeIn 1s ease-in-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(30px); /* Desplazado hacia la derecha */
    animation: slideIn 0.8s ease-in-out forwards;
}

.nombre { animation-delay: 0.2s; }
.email { animation-delay: 0.4s; }
.telefono { animation-delay: 0.6s; }
.mensaje { animation-delay: 0.8s; }

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

label {
    font-weight: bold;
    font-family: sans-serif;
}

input, textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}